*{
    margin: 0;
    padding: 0;
 /* background-image: linear-gradient(to right, #caa786 0%, #b08ac2 100%); */
}
/* body{
    background: url(https://source.unsplash.com/1920x1080/?nature,water) center no-repeat;
} */
input{
    width: 302px;
}
select {
    width: 302px;
}
h3{
    text-align: center;
    margin: 8px 0px;
    color: white;
}
div.card{
   width: fit-content;
   margin: 20px auto;
}
.card-title{
    text-align: center;
    margin: 20px 0px;
}
.btn-primary{
    display: flex;
    justify-content: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* #ref-img{
    height: 200px;
    width: 300px;
} */
div.heading-reference{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
